@import "app/sass/_font.scss";

section {
  position: relative;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

i{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: inherit;
}


/*
main styles
*/


/*top*/

.skoda {
  height: 200px;
  img {
    @extend .center;
    min-width: 100%;
    min-height: 100%;
  }
}


/*header*/

header {
  position: relative;
  height: 40px;
}

.header__logo {
  @extend .center;
}

/*social*/
.social{
  a{
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    line-height: 40px;
    i{
    
    }
    &:before{
      position: absolute;
      top: 15%;
      left: 15%;
      content: '';
      width: 65%;
      height: 65%;
      border: 1px solid #000;
      transform: rotate(45deg)
    }
  }
}


/*navigation*/
@import "app/sass/_navBtn.scss"


//@media (max-width: 1280px) {}
//@media (max-width: 1024px) {}
//@media (max-width: 768px) {}
//@media (max-width: 640px) {}
//@media (max-width: 480px) {}